form{
    width: 100%;
}
form h2{
    padding: 20px 0;
}

.form-item-names{
    display:flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 500;
}

.form-item-names input{
    width: 50%;
    padding: 8px;
    font-size: 14px;
    border: none;
    outline: 2px solid rgb(170, 170, 170);
    border-radius: 2px;
}
.form-item{
    display:grid;
    padding-bottom: 15px;
    font-weight: 500;
}

.form-item input{
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: none;
    outline: 2px solid rgb(170, 170, 170);
    border-radius: 2px;
}


.custom-input-signup:focus{
    border: none;
    outline: 2px solid rgb(51, 194, 156);
}

.react-tel-input {
    width: 100% !important;
    border: 2px solid rgb(170, 170, 170) !important;
    border-radius: 2px !important;
}

.react-tel-input .form-control{
    border: none !important;
}

.checkbox-input{
    margin: 4px;
}


.signup-button{
    display: flex;
    justify-content: right;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 40px;
    background-color: rgb(51, 194, 156);
    font-size: 14px;
    font-weight: 600;
    color: white;

}

@media (max-width:750px){
    form{
        width: 100%;
    }

    .react-tel-input .form-control{
       width: 100%;
    }
}

