

.location-modal {
    position: fixed;
    top: 70px;
    left: 48%;
    right: auto;
    bottom: auto;
    background: #ffffffce;
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 10px;
    outline: none;
    width: 300px;
    z-index: 1000;
    border: 1px solid rgb(51, 194, 156);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.226);
  }

.location-modal h2{
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 16px 0;
    color: rgb(51, 194, 156);

}

  
  .modal-content {
    display: flex;
    flex-direction: column;
  }
  
  .modal-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  
  .modal-field select {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
  }
  
  .modal-content .location-buttons {
    display: flex;
    border: none;
    justify-content: space-between;
  }

  .modal-content .location-buttons .save-button {
    width: 80px;
    margin-top: 10px;
    padding: 6px;
    background-color: rgb(51, 194, 156);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .modal-content .location-buttons .cancel-button {
    width: 80px;
    margin-top: 10px;
    padding: 6px;
    background-color: inherit;
    color: rgb(51, 194, 156);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-field button:last-child {
    background-color: #dc3545;
  }
  
  