.profile_main {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .profile_header {
    background: #fff;
    padding: 20px 0;
  }
  
  .profile_container {
    width: 80%;
    margin: auto;
  }
  
  .profile_header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile_header_top h2{
    font-weight: 300;
    font-size: 24px;
  }

  
  .profile_header_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .header_left {
    display: flex;
    align-items: center;
  }
  
  .user_badge {
    background: rgb(51, 194, 156);
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 24px;
    margin-right: 10px;
  }
  
  .user_name {
    font-size: 24px;
    font-weight: bold;
  }

  .header_right{
    display: flex;
    gap: 40px;
  }
  
  .header_right .logout_btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 10px 20px;
    background-color: rgba(51, 194, 156);
    color:white;
    border: none;
    border-radius: 20px;
    transition: 0.3s;
  }

  @media (max-width: 750px) {
    .profile_header_bottom{
      display: grid;
      gap: 20px;
    }

    .user_name {
      font-size: 22px;
      font-weight: bold;
    }
    .profile_body_inner {
      display: block;
    }

    .profile_body_left {
      width: 100%;
    }
    .left_navigation .nav-item .active{
      border-bottom: 4px solid rgb(51, 194, 156);
       border-right: none;
      }

    .profile_body_right {
        width: 100%;
        padding-left: 0;
      }


    }
