.footer {
    background-color: inherit;
    color: #6f6f6f;
    padding: 10px 60px;
    margin-top: 40px;
    border-top: 1px solid rgb(177, 177, 177);
  }
.footer-section{
    font-size: 14px;
    margin: 0 10px 2px 10px;
    text-decoration: none;
    list-style: none;
    display: flex;
}

.footer-heading{
    padding: 5px;
    color: black;
    font-weight: 400;
}

.footer-section ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.footer-section ul li{
    color: #6f6f6f;
    transition: 0.2s;
    padding: 5px;
}

.footer-section ul li:hover{
    color: #313131;
    text-decoration: underline;
}

.footer-social{
    display: flex;
    justify-content: space-between;
}

.footer-section .social-links{
    display: flex;
    padding: 5px;
    gap:20px;
    
}

.footer-section .social-links img{
    width: 24px;
    height: 24px;
    opacity: 0.5;
    transition: 0.3s ease;
}

.footer-section .social-links img:hover{
    opacity: 1;
}
  
.app-promotion{
    display: flex;
}
  .footer-bottom {
    text-align: center;
    padding: 10px 0;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 14px;
  }
  
  @media (max-width: 1050px) {
   

  }

  @media (max-width: 900px) {

  }