.reset-form-body{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.reset-password-inner{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.reset-form-container{
    display: flex;
    padding: 50px 20px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);

}

.reset-form{
    display: flex;
    flex-direction: column;
    gap: 16px ;
    width: 320px;
    text-align: center;
}

.reset-form h2{
    font-size: 28px;
}

.reset-form p{
    font-size: 12px;
    color: rgb(51, 194, 156)
}

.reset-form label{
    font-size: 12px;
    font-weight: 600;
}

.email-section{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}

.email-section input{
    padding: 10px;
    outline: 1px solid rgb(216, 216, 216);
    border: none;
    border-radius: 5px;
    background-color: inherit;
}

.email-section input:focus{
    outline: 1px solid rgb(51, 194, 156);
}

.reset-form button{
    padding: 9px 18px;
    margin: auto;
    background-color: inherit ;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 18px;
    transition: 0.2s;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: rgb(180, 180, 180);
    
}

.reset-form button:hover {
    background-color: rgb(51, 194, 156);
    color: rgb(255, 255, 255);
}

@media (max-width:750px) {
    .reset-password-inner{
        display: block;
        justify-content: space-around;
        width: 100%;
    }
}